body {
	background-color:rgb(0,30,80);
	color:white;
}

#head {
    text-align: center;
    font-size:20px;
}
#head a,#instrHover {
	display:block;
	color:white;
	text-decoration:none;
	font-size:20px;
	border:1px solid;
	padding:10px;
	position:absolute;
	top:0;
	margin:10px;
	text-transform:uppercase;
}
#head .left {
	left:0;
}
#head .right {
	right:0;
}
#head a:hover {
	background-color:tan;
	color:rgb(102,51,0);
}
#instrHover {
	font-size:15px;
}
#instrContainer {
	display:none;
	text-align:left;
	font-size:14px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:1px solid;
	z-index:1;
	padding:10px;
	background-color:tan;
	color:rgb(102,51,0);
}
#instrHover:hover + #instrContainer {
	display:inline-block;
}

.desc {
	width:30%;
	position:absolute;
	top:25%;
	transform:translate(-50%,0);
	text-align:left;
	font-size:18px;
}
#nQueensDesc {
	left:20%;
}
#knightsTourDesc {
	left:80%;
}
#overallDesc {
	width:20%;
	left:50%;
	font-size:21px;
	text-align:center;
	background-color:tan;
	color:rgb(102,51,0);
	padding:10px;
}
#overallDesc a {
	text-decoration:none;
	color:rgb(102,51,0);
	font-size:16px;
}
