/* Style input container */
#inputContainer {
	padding:10px;
	border:1px solid black;
	display:inline-block;
}

/* Style board */
#board {
	display:grid;
	position:absolute;
	top:65%;
	left:40%;
	transform:translate(-50%,-50%);
	margin:50px;
	border:1px solid black;
}
#board div {
	text-decoration:none;
	display:block;
	color:red;
	border:1px solid black;
}
#board div:hover {
	cursor:pointer;
}
#board .whiteSquares {
	background-color:tan;
}
#board .blackSquares {
	background-color:rgb(102,51,0);
}
#board .unavailable {
	background-color:red;
	opacity:50%;
}
#board .unavailable:hover {
	cursor:not-allowed;
}

/* Style reset button */ 
#resetContainer {
	position:absolute;
	top:30%;
	left:75%;
}

/* Style backtrack button */ 
#backtrackContainer {
	position:absolute;
	top:40%;
	left:75%;
}

/* Style output container */
#outputContainer {
	position:absolute;
	top:50%;
	left:75%;
}
#output1, #output2 {
	font-size:30px;
}
