#desc-container {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: 10px;
}

.desc {
	text-align:left;
    font-size:18px;
    height: fit-content;
    margin: 10px;
}

#overall-desc {
	font-size:21px;
	text-align:center;
	background-color:tan;
	color:rgb(102,51,0);
	padding:10px;
}

#overall-desc a {
	text-decoration:none;
	color:rgb(102,51,0);
	font-size:16px;
}

/* Small screens */
@media only screen and (max-width: 840px) {
    #desc-container {
        flex-direction: column;
    }

    #overall-desc {
        order: -1;
    }
}

/* Large screens */
@media only screen and (min-width: 840px) {
    .desc {
        flex: 3;
        height: fit-content;
    }

    #overall-desc {
        flex: 2;
    }
}