/* Style input container */
#inputContainer {
	padding:10px;
	border:1px solid black;
	display:inline-block;
}

/* Style board */
#board {
	display:grid;
	position:absolute;
	top:65%;
	left:40%;
	transform:translate(-50%,-50%);
	margin:50px;
}
#board div {
	text-decoration:none;
	display:block;
	color:red;
}
#board div:hover {
	cursor:pointer;
}
#board .whiteSquares {
	background-color:lightgray;
}
#board .blackSquares {
	background-color:black;
}
#board .unavailable {
	opacity:50%;
}
#board .unavailable:hover {
	cursor:not-allowed;
}