/* Style complete tour button */
#completeContainer {
	visibility:hidden;
	margin-bottom: 20px;
}

.complete-sub-container {
	display: flex;
	justify-content: space-between;
}

#stopButton {
	background-color:tan;
	color:rgb(102,51,0);
}

/* Style output container */
#outputContainer {

}